#login {
  background-color: hsla(0, 0%, 25%, 0.75);
  border-radius: 6px;
  border: 4px solid hsl(0, 0%, 30%, 0.75);
  color: white;
  margin: 40px auto;
  padding: 20px;

  height: 400px;
  width: 400px;
}
