@use "../../assets/styles/abstract/" as *;

.btn{
    padding: 10px 5px;
    background-color: $red-700;
    border-radius: 6px;
    border: 1px solid transparent;
    color: $white;
    
    &:hover{
        background-color: $red-800;
        cursor: pointer;
    }
}